<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>net9.0</TargetFramework>
    <OutputType>Library</OutputType>
    <ImplicitUsings>enable</ImplicitUsings>
    <AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
    <RootNamespace>{{.ModName}}</RootNamespace>
    <Version>{{.Version}}</Version>
    <Authors>{{.Author}}</Authors>
    <Company>{{.Author}}</Company>
    <Product>{{.ModName}}</Product>
    <Description>{{.Desc}}</Description>
    <Copyright>Copyright © {{.Author}}</Copyright>
    <RepositoryUrl>{{.RepoURL}}</RepositoryUrl>
    <PackageLicenseExpression>{{.License}}</PackageLicenseExpression>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="SPTarkov.Common" Version="{{.SptVersion}}" />
    <PackageReference Include="SPTarkov.DI" Version="{{.SptVersion}}" />
    <PackageReference Include="SPTarkov.Server.Core" Version="{{.SptVersion}}" />
  </ItemGroup>

  <ItemGroup>
    <_ContentIncludedByDefault Remove="dist\package.json" />
  </ItemGroup>

  <Target Name="PackageModForDistribution" AfterTargets="Build">
    <PropertyGroup>
      <ModName>$(AssemblyName)</ModName>
      <ZipFileName>$(ModName).zip</ZipFileName>
      <TempPackageDir>$(ProjectDir)obj\Package</TempPackageDir>
      <ModPackageDir>$(TempPackageDir)\SPT\user\mods\$(ModName)</ModPackageDir>
    </PropertyGroup>
    <Message Text="--- Starting Mod packaging for distribution ---" Importance="high" />
    <RemoveDir Directories="$(TempPackageDir)" />
    <MakeDir Directories="$(ModPackageDir)" />
    <Copy SourceFiles="$(TargetPath)" DestinationFolder="$(ModPackageDir)" />
    <ZipDirectory SourceDirectory="$(TempPackageDir)" DestinationFile="$(ProjectDir)$(ZipFileName)" Overwrite="true" />
    <RemoveDir Directories="$(TempPackageDir)" />
    <Message Text="--- Mod successfully packaged at: $(ProjectDir)$(ZipFileName) ---" Importance="high" />
  </Target>
</Project>
